* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header p{
    font-size: 1.75em;
}

main h1{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

picture img{
    display: block;
    margin: 15px auto;
    box-shadow: 5px 5px 20px #333333;
    max-width: 450px;
    float: center;

}

section{
    margin: 35px auto;
    padding: 20px;
    max-width: 450px;
    background-color: #dddddd;
    line-height: 1.5em;
}

section p{
    margin-top: 10px;
    max-width: 85%;
}

section h2{
    border-bottom-width: 2px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

section ul{
    padding-left: 25px;
    max-width: 85%;
}